<html>
  
<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
      <div class="chat-content">
        <div class="chatHistory">
          <% if (chatHistory.length> 0) { %>
            <% let hasDisplayedLabel=false; %>
              <% chatHistory.reverse().forEach(entry=> { %>
                <% if (!hasDisplayedLabel && entry.sessionID===curSession) { %>
                  <div class="history-label">
                    <span class="label-text">
                      <%= entry.subject %> - <%= entry.topic %>
                    </span><br>
                    <button class="delete-button" data-sessionid="<%= entry.sessionID %>">
                      <img id="deleteButton" src="delete-icon.svg" alt="Delete">
                      <img id="okButton" src="ok-icon.svg" alt="OK" style="display: none;">
                    </button>
                  </div>
                  <% hasDisplayedLabel=true; %>
                    <% } else { %>
                      <div class="historyButton">
                        <button class="session-button" data-sessionid="<%= entry.sessionID %>">
                          <span class="history-date">
                            <%= entry.createdAt.toLocaleDateString() %>
                          </span><br>
                          <%= entry.subject %> - <%= entry.topic %>
                        </button>
                      </div>
                      <% } %>
                        <% }); %>
                          <% } %>
        </div>
        <div class="chatContainer">
          <form class="subject-topic-input" action="/chat" method="POST" id="topicForm">
            <select id="subject" name="subject" <% if (subject !=='' ) { %>disabled<% } %> required>
                <% if (language==='en' ) { %>
                  <option value="<%= subject %>" <% if (subject !=='' ) { %>selected<% } %>><%= subject !=='' ? subject
                        : 'Subject' %>
                        <img src=".\arrow-down.svg">
                  </option>
                  <option value="Chemistry">Chemistry</option>
                  <option value="English">English</option>
                  <option value="History">History</option>
                  <option value="Math">Math</option>

                  <% } else if (language==='de' ) { %>
                    <option value="<%= subject %>" <% if (subject !=='' ) { %>selected<% } %>><%= subject !=='' ?
                          subject : 'Schulfach' %>
                          <img src=".\arrow-down.svg">
                    </option>
                    <option value="Chemie">Chemie</option>
                    <option value="Englisch">Englisch</option>
                    <option value="Geschichte">Geschichte</option>
                    <option value="Mathematik">Mathematik</option>
                    <% } %>
            </select>
            <input type="text" maxlength="64" id="topic" name="topic" autocomplete="off" 
              placeholder="<%= language === 'de' ? 'Thema' : 'Topic' %>" required <% if (topic !=='' ) { %>disabled<% }
              %>
              value="<%= topic !=='' ? topic : '' %>">
                <button type="submit" id="topicButton" class="button">
                  <%= topic !=='' ? (language==='de' ? 'Neu' : 'New' ) : (language==='de' ? "Los geht's" : "Let's Go" )
                    %>
                </button>
          </form>
          <div class="chatLog" id="chatLog">
            <% if (chatLog.length> 0) { %>
              <% let firstUserEntrySkipped=false; %>
                <% chatLog.forEach(entry=> { %>
                  <% if (entry.role==='user' && !firstUserEntrySkipped) { %>
                    <% firstUserEntrySkipped=true; %>
                      <% } else if (entry.role==='user' ) { %>
                        <p class="input"><%= entry.content %></p>
                        <% } else if (entry.role !=='system' ) { %>
                          <p class="answer"><%= entry.content %></p>
                        <% } %>
                          <% }); %>
                            <% } %>
                              <div class="loading-dots">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                              </div>
          </div>

          <form id="chatForm" action="/chat" method="POST">
            <textarea maxlength="256" id="input" name="input" autocomplete="off"
              placeholder="<%= language === 'de' ? 'Frag mich hier...' : 'Ask me here...' %>" required <% if (topic===''
              ) { %>disabled<% } %>></textarea>
            <button type="submit" id="chatButton" class="button" <% if (topic==='' ) { %>disabled<% } %>>
                <img src="send-icon.svg" alt="Send">
            </button>
          </form>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
  </body>
  <script>
    window.onload = function () {
      document.getElementById('input').focus();
      const chatLog = document.getElementById('chatLog');
      chatLog.scrollTop = chatLog.scrollHeight;
    };

    document.getElementById("input").addEventListener("keydown", function (event) {
      if (event.which === 13 && !event.shiftKey) {
        if (!event.repeat) {
          const newEvent = new Event("submit", { cancelable: true });
          event.target.form.dispatchEvent(newEvent);
        }
        event.preventDefault(); // Prevents the addition of a new line in the text field
      }
    });

    const topicInput = document.getElementById('topicForm');
    const chatInput = document.getElementById('chatForm');
    topicInput.addEventListener('submit', function (event) {
      handleSubmit(this);
    });

    chatInput.addEventListener('submit', function (event) {
      handleSubmit(this);
      const chatLog = document.getElementById('chatLog');
      chatLog.scrollTop = chatLog.scrollHeight;
    });

    function handleSubmit(form) {
      event.preventDefault();
      const loadingDots = document.querySelector('.loading-dots');
      loadingDots.style.display = 'block';
      form.submit();
      disableFormElements(form);

    }

    function disableFormElements(form) {
      const elements = form.elements;
      for (let i = 0; i < elements.length; i++) {
        elements[i].disabled = true;
      }
    }

    // Get all buttons with the class 'session-button'
    const sessionButtons = document.querySelectorAll('.session-button');

    sessionButtons.forEach(button => {
      button.addEventListener('click', async () => {
        disableFormElements(topicInput);
        disableFormElements(chatInput);
        const sessionID = button.getAttribute('data-sessionid');

        try {
          const res = await fetch('/chat/lookup', {
            method: 'POST',
            body: JSON.stringify({ sessionID }), // Pass sessionID to the server
            headers: { 'Content-Type': 'application/json' }
          });
          const data = await res.json();
          console.log(data);
          if (data.session) {
            location.assign('/chat');
          } else {
            console.error(`Couldn't find chat`);
          }
        } catch (err) {
          console.error('An error occurred:', err);
        }
      });
    });

    // Add event listener to delete buttons
    const deleteButtons = document.querySelectorAll('.delete-button');

    deleteButtons.forEach(button => {
      button.addEventListener('click', () => {
        const tempSession = button.getAttribute('data-sessionid'); // Define tempSession here

        const deleteIcon = button.querySelector('#deleteButton');
        const okIcon = button.querySelector('#okButton');

        deleteIcon.style.display = 'none';
        okIcon.style.display = 'inline-block';

        // Add event listener to ok buttons inside this block
        const okButtons = document.querySelectorAll('#okButton');
        okButtons.forEach(okButton => {
          okButton.addEventListener('click', async () => {
            const loadingDots = document.querySelector('.loading-dots');
            loadingDots.style.display = 'block';
            disableFormElements(topicInput);
            disableFormElements(chatInput);
            try {
              const res = await fetch('/chat/delete', {
                method: 'POST',
                body: JSON.stringify({ sessionID: tempSession }), // Use tempSession here
                headers: { 'Content-Type': 'application/json' }
              });
              const data = await res.json();
              location.assign('/');
            } catch (err) {
              console.error('An error occurred:', err);
            }
          });
        });
      });
    });


  </script>

</html>
